
.Lunes{
    background-color: aqua;
}
.Martes{
    background-color: blue;
}
.Miercoles{
    background-color: brown;
}
.Jueves{
    background-color: chartreuse;
}
.Viernes{
    background-color: blueviolet;
}


.Ingles{
    background-color: cornflowerblue;
}
.Programacion{
    background-color: rgb(237, 100, 146);
}
.Legislacion{
    background-color: crimson;
}
.Redes{
    background-color: orangered;
}
.Apt{
    background-color: yellow;
}
.Ux{
    background-color: mediumvioletred;
}
.Matematicascts{
    background-color: sienna;
}
.Matematicacomun{
    background-color: tomato;
}
.Basedatos {
    background-color: violet;
}
.Historiaeco{
    background-color: rgb(255, 0, 0);
}


